/* ############# Global styling ################ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 4px 4px 0px 4px;
    display: block;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(48, 36, 211);
}

body {
    font-family: 'Times New Roman', Times, serif;
    /* margin: 2%; */
    justify-content: center;
    text-align: center;
    background-color: rgb(219, 219, 219);
}

h1 {
    color: #fff;
    line-height: 50px;
    margin: auto;
    letter-spacing: 1.2px;
}

input {
    height: 75px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(48, 36, 211);
    border: solid #fff;
    color: #fff;
    outline: none;
}

button {
    margin: 15px;
    padding: 20px 50px 20px 50px;
    color: black;
    background-color: white;
    border-radius: 10px;
}

h3 {
   color: rgb(48, 36, 211);
   font-weight:bolder 
}


/* ################ Custom Styling ###################*/

header {
    /* background-image: linear-gradient(0, rgb(207, 223, 63), rgb(19, 175, 136)); */
    padding: 10px;
}

::placeholder {
    color: rgb(219, 219, 219);
    opacity: 1;
}

.box-wrapper {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.middle-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 50px;
    line-height: 65px;
    /* letter-spacing: 1px; */
}

.middle-column div {
    flex-grow: 1;
    margin-bottom: 10px;
    border: solid 1px #fff;
    background-color: white;
}

.middle-column div+div {
    margin-top: 8px
}
